<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
     <a class="logoa" href="/"><i class="far fa-futbol logo"></i>  Krystian Wawrzyniak</a>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>